# Banco de Dados
DATABASE_URL="mysql://usuario:senha@localhost:3306/underground_wiki"

# JWT
JWT_SECRET="minha_chave_muito_secreta_e_muito_segura_bem_aqui_neste_texto_sem_redundancia_e_muito_minusculo_mesmo"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3333
NODE_ENV=development
